*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
background-color: rgb(137, 183, 90);
}
.container{
  width: 25%;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  position: absolute;
  top: 15%;
  left: 40%;
}
.label-field{
  width: 100%;
  margin-bottom: 5px;
}
.input-field{
  position: relative;
width: 100%;
  padding: 8px;
}
.signup-btn{
  width: 100%;
  padding: 6px;
  background-color: rgb(226, 52, 87);
}
.signup-btn:hover{
  background-color: crimson;
}
